<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="bace :: common_header(~{::link}, ~{::title})">
    <title>Редактировать пользователя</title>
</head>
<body>

<table class="table table-bordered">
    <thead class="table-primary">
    <tr>
        <th scope="col">
                <a title="К списку пользователей" type="button" class="btn btn-success" th:href="@{/}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"></path>
                    </svg>
                </a>
        </th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <thead class="table-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">ФИО</th>
        <th scope="col">Год рождения</th>
        <th scope="col">Операция</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr>
        <th th:text="'#'">#</th>
        <td>
            <h4 th:text="${people.getFullName()}"/>
        </td>
        <td>
            <h4 th:text="${people.getYear()}"/>
        </td>
        <td>
                <button title="Редактировать пользователя" type="button" class="btn btn-success" data-bs-toggle="modal" th:attr="data-bs-target='#ModaltoEditPerson' + ${people.getId()}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                    </svg>
                </button>
        </td>
        <td th:replace="~{person/peopleModal :: ModaltoEditPerson(${people.getId()})}"></td>
    </tr>
    </tbody>
</table>


<table class="table table-bordered">
    <thead class="table-success">
    <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"><h5>Книги, которые числятся за читателем</h5></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <thead class="table-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Автор</th>
        <th scope="col">Год издания</th>
        <th scope="col">Операция</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr th:each="book, i:${bookOwner}">
        <th th:text="${i.count}">NumCount</th>
        <td>
            <h6><a th:href="@{/books/{id}/show(id=${book.getId()})}" th:text="${book.getName()}"/></h6>
        </td>
        <td>
            <h6 th:text="${book.getAuthor()}"/>
        </td>
        <td>
            <h6 th:text="${book.getYear()}"/>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/{id}/delete/book/{person_id}(id=${book.getId()},person_id=${people.getId})}">
                <button type="submit" class="btn btn-outline-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-minus" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M5.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"></path>
                        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"></path>
                        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"></path>
                    </svg>
                    Удалить Книгу
                </button>
            </form>
        </td>
    </tr>
    <tr>
        <td><h6 th:text="'#'"></h6></td>
        <td th:if="${not #lists.isEmpty(bookNotOwner)}">
            <form th:method="PATCH" th:action="@{/{id}/setBook(id=${books.getId()})}">
                <label for="book"></label>
                    <select th:object="${books}" th:field="*{id}" id="book">
                        <option th:each="book:${bookNotOwner}" th:value="${book.getId()}" th:text="${book.getName()}">
                        </option>
                    </select>
                <button type="submit" class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-plus" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"></path>
                        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"></path>
                        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"></path>
                    </svg>
                    Назначить книгу
                </button>
            </form>
        </td>
    </tr>
    </tbody>

</table>
</body>
</html>