<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/styles/css/bootstrap.css}">
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>


<head>
    <meta charset="UTF-8">
    <title>Главная страница библиотеки</title>
</head>
<body>

<table class="table table-bordered">
    <thead class="table-primary">
    <tr>
        <th scope="col">Список книг</th>
        <th scope="col">Добавить человека</th>
        <th scope="col">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#BatchModal">
            Добавить случайных людей (test)
            </button>
        </th>
        <th scope="col">Добавить случайных книг (test)</th>
    </tr>
    </thead>
    <thead class="table-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">ФИО</th>
        <th scope="col">Год рождения</th>
        <th scope="col">Операция</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr th:each="person, i:${people}">
        <th th:text="${i.count}"></th>
        <td><a th:href="@{/{id}(id=${person.getId()})}"
               th:text="${person.getFullName()}">FullName</a>
        </td>
        <td th:text="${person.getYear()}">age</td>
        <td>edit</td>
    </tr>
    </tbody>
</table>

<!-- Модальное окно -->
<div class="modal fade" id="BatchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Внесите количество тестовых пользователй</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <form th:method="POST" th:action="@{/batch/person}">
            <div class="modal-body">
                    <div class="mb-3">
                        <label for="atm" class="form-label">Введите количество тестовых пользователей</label>
                        <input type="number" class="form-control" id="atm" th:name="atm">
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Создать</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!---------->
</body>
</html>