<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/styles/css/bootstrap.css}">
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>


<head>
    <meta charset="UTF-8">
    <title>Главная страница библиотеки</title>
</head>
<body>

<table class="table table-bordered">
    <thead class="table-primary">
    <tr>
        <th scope="col">Список книг</th>
        <th scope="col">Добавить человека</th>
        <th scope="col">Добавить случайных людей (test)</th>
        <th scope="col">Добавить случайных книг (test)</th>
    </tr>
    </thead>
    <thead class="table-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">ФИО</th>
        <th scope="col">Год рождения</th>
        <th scope="col">Операция</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr th:each="person, i:${people}">
        <th th:text="${i.count}"></th>
        <td><a th:href="@{/{id}(id=${person.getId()})}"
               th:text="${person.getFullName()}">FullName</a>
        </td>
        <td th:text="${person.getAge()}">age</td>
        <td>edit</td>
    </tr>
    </tbody>
</table>
<!-- Кнопка-триггер модального окна -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Запустите демо модального окна
</button>

<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Внесите количество тестовых пользователй</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Создать</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>