<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="bace :: common_header(~{::link}, ~{::title})">
    <title>Редактировать пользователя</title>
</head>
<body>

<table class="table table-bordered">
    <thead class="table-primary">
    <tr>
        <th scope="col">
                <a title="К списку пользователей" type="button" class="btn btn-success" th:href="@{/}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"></path>
                    </svg>
                </a>
        </th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <thead class="table-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">ФИО</th>
        <th scope="col">Год рождения</th>
        <th scope="col">Операция</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr>
        <th th:text="'#'">#</th>
        <td>
            <h4 th:text="${people.getFullName()}"/>
        </td>
        <td>
            <h4 th:text="${people.getYear()}"/>
        </td>
        <td>
                <button title="Редактировать пользователя" type="button" class="btn btn-success" data-bs-toggle="modal" th:attr="data-bs-target='#ModaltoEditPerson' + ${people.getId()}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                    </svg>
                </button>
        </td>
        <td th:replace="~{person/peopleModal :: ModaltoEditPerson(${people.getId()})}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>